body {
	background:white;
	font-family: times;
	margin: 5;
}

a {
	color: red;
}

h1 {
	color: red;
	
}
p {
	background-color: #999;
	padding: 10px;
}

.features {
	background: white;
	padding: 0px;
	display: flex;
	flex-direction: row;
}

.features figure {
	margin: auto;
	width: 190px
}

.features figure img {
	display: inline-table;
	width: 190px
}

.scroll {
	width: 200px; 
	height: 150px; 
	line-height: 3em; 
	overflow:scroll; 
	border: none; 
	padding: 5px;
}

