body {
	background:white;
	font-family: times;
	margin: 5;
}

a {
	color: red;
}

h1 {
	color: red;
	
}
p {
	background-color: #999;
	padding: 10px;
}

.features {
	background: white;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.features figure {
	margin: auto;
	width: 200px
}

.features figure img {
	width: 200px
}